# LAB | Intro to Machine Learning

**Load the data**

In this challenge, we will be working with Spaceship Titanic data. The data can be found here:

https://raw.githubusercontent.com/data-bootcamp-v4/data/main/spaceship_titanic.csv

Metadata

https://github.com/data-bootcamp-v4/data/blob/main/spaceship_titanic.md

In [1]:
#import libraries
import pandas as pd
import numpy as np
from sklearn.model_selection import train_test_split

In [3]:
spaceship = pd.read_csv("https://raw.githubusercontent.com/data-bootcamp-v4/data/main/spaceship_titanic.csv")
spaceship.head()

,PassengerId,HomePlanet,CryoSleep,Cabin,Destination,Age,VIP,RoomService,FoodCourt,ShoppingMall,Spa,VRDeck,Name,Transported
0,0001_01,Europa,False,B/0/P,TRAPPIST-1e,39.0,False,0.0,0.0,0.0,0.0,0.0,Maham Ofracculy,False
1,0002_01,Earth,False,F/0/S,TRAPPIST-1e,24.0,False,109.0,9.0,25.0,549.0,44.0,Juanna Vines,True
2,0003_01,Europa,False,A/0/S,TRAPPIST-1e,58.0,True,43.0,3576.0,0.0,6715.0,49.0,Altark Susent,False
3,0003_02,Europa,False,A/0/S,TRAPPIST-1e,33.0,False,0.0,1283.0,371.0,3329.0,193.0,Solam Susent,False
4,0004_01,Earth,False,F/1/S,TRAPPIST-1e,16.0,False,303.0,70.0,151.0,565.0,2.0,Willy Santantines,True

**Check the shape of your data**

In [5]:
spaceship.shape

(8693, 14)

**Check for data types**

In [7]:
spaceship.dtypes

PassengerId      object
HomePlanet       object
CryoSleep        object
Cabin            object
Destination      object
Age             float64
VIP              object
RoomService     float64
FoodCourt       float64
ShoppingMall    float64
Spa             float64
VRDeck          float64
Name             object
Transported        bool
dtype: object

**Check for missing values**

In [9]:
print(f"Null values:\n", spaceship.isnull().sum(), "\n") # Check for nulls
print("Duplicates:", spaceship.duplicated().sum()) # Check for duplicates

Null values:
 PassengerId       0
HomePlanet      201
CryoSleep       217
Cabin           199
Destination     182
Age             179
VIP             203
RoomService     181
FoodCourt       183
ShoppingMall    208
Spa             183
VRDeck          188
Name            200
Transported       0
dtype: int64

Duplicates: 0

There are multiple strategies to handle missing data

- Removing all rows or all columns containing missing data.
- Filling all missing values with a value (mean in continouos or mode in categorical for example).
- Filling all missing values with an algorithm.

For this exercise, because we have such low amount of null values, we will drop rows containing any missing value.

In [13]:
spaceship = spaceship.dropna().reset_index(drop=True)
spaceship.shape

(6606, 14)

**KNN**

K Nearest Neighbors is a distance based algorithm, and requeries all **input data to be numerical.**

Let's only select numerical columns as our features.

In [15]:
features = spaceship.select_dtypes(include=['float64', 'int64'])
features

       Age  RoomService  FoodCourt  ShoppingMall     Spa  VRDeck
0     39.0          0.0        0.0           0.0     0.0     0.0
1     24.0        109.0        9.0          25.0   549.0    44.0
2     58.0         43.0     3576.0           0.0  6715.0    49.0
3     33.0          0.0     1283.0         371.0  3329.0   193.0
4     16.0        303.0       70.0         151.0   565.0     2.0
...    ...          ...        ...           ...     ...     ...
6601  41.0          0.0     6819.0           0.0  1643.0    74.0
6602  18.0          0.0        0.0           0.0     0.0     0.0
6603  26.0          0.0        0.0        1872.0     1.0     0.0
6604  32.0          0.0     1049.0           0.0   353.0  3235.0
6605  44.0        126.0     4688.0           0.0     0.0    12.0

[6606 rows x 6 columns]

And also lets define our target.

In [17]:
target = spaceship["FoodCourt"]

In [19]:
features = features.drop(columns = 'FoodCourt') #remove target from features
features

       Age  RoomService  ShoppingMall     Spa  VRDeck
0     39.0          0.0           0.0     0.0     0.0
1     24.0        109.0          25.0   549.0    44.0
2     58.0         43.0           0.0  6715.0    49.0
3     33.0          0.0         371.0  3329.0   193.0
4     16.0        303.0         151.0   565.0     2.0
...    ...          ...           ...     ...     ...
6601  41.0          0.0           0.0  1643.0    74.0
6602  18.0          0.0           0.0     0.0     0.0
6603  26.0          0.0        1872.0     1.0     0.0
6604  32.0          0.0           0.0   353.0  3235.0
6605  44.0        126.0           0.0     0.0    12.0

[6606 rows x 5 columns]

**Train Test Split**

Now that we have split the data into **features** and **target** variables and imported the **train_test_split** function, split X and y into X_train, X_test, y_train, and y_test. 80% of the data should be in the training set and 20% in the test set.

In [21]:
X_train, X_test, y_train, y_test = train_test_split(features, target, test_size=0.20, random_state=0)

**Model Selection**

In this exercise we will be using **KNN** as our predictive model.

You need to choose between **Classificator** or **Regressor**. Take into consideration target variable to decide.

Initialize a KNN instance without setting any hyperparameter.

In [23]:
# Regression - it's a number

from sklearn.neighbors import KNeighborsRegressor
knn = KNeighborsRegressor()

Fit the model to your data.

In [25]:
knn.fit(X_train, y_train);

In [27]:
y_pred = knn.predict(X_test)
y_pred

array([  0. ,   0. ,   0. , ..., 140.8,   0. ,   0. ])

Evaluate your model.

In [29]:
knn.score(X_test, y_test)  # That's not good

0.03112081166277636

In [31]:
print(target.describe())  # Maybe because the data are skewed!

count     6606.000000
mean       478.958523
std       1678.592291
min          0.000000
25%          0.000000
50%          0.000000
75%         82.750000
max      29813.000000
Name: FoodCourt, dtype: float64

In [33]:
# Let's try another target 

features2 = spaceship.select_dtypes(include=['float64', 'int64']).drop(columns=['RoomService'])
target2 = spaceship["RoomService"]
X_train, X_test, y_train, y_test = train_test_split(features2, target2, test_size=0.20, random_state=0)
knn.fit(X_train, y_train);

In [35]:
knn.score(X_test, y_test) # A little better

0.11388230548555844

**Congratulations, you have just developed your first Machine Learning model!**